# CakePHP 3

/vendor/*
/config/app.php
config/app_local.php
config/app_local.example.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/.gitkeep
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

/config/.env
.env

/tmp/*
!/tmp/.gitkeep


/tmp/assets/*
!/tmp/assets/empty

*.css.map

/webroot/reportes/*
.DS_Store
*.DS_Store

composer.phar

